.bluish-gradient{
background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, rgba(#4A00E0,.8), rgba(#8E2DE2,.8)),url('./img/cse.jpeg'); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgba(#4A00E0,.8), rgba(#8E2DE2,.8)),url('./img/cse.jpeg') center center; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.redish-gradient{
background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, rgba(#4A00E0,.8), rgba(#8E2DE2,.8)),url('./img/cse.jpeg'); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgba(#bc4e9c,.8), rgba(#f80759,.8)),url('./img/cse.jpeg') center center; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.greenish-gradient{
    background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, rgba(#4A00E0,.8), rgba(#8E2DE2,.8)),url('./img/cse.jpeg'); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgba(#00C9FF,.8), rgba(#92FE9D,.8)),url('./img/cse.jpeg') center center; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

