.drop{
    &-icon{
        height: 100px;
    }
    &__green{
       
        &:hover{
            
           margin:2rem

        }
    }
    &__pink{
      
        &:hover{
            
           margin:2rem

        }
    }
}