.profile-pic{
    &--sm{
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        box-shadow: .1rem .1rem 4rem rgba(#000,.2);
        padding: .5rem ;
        // margin:1rem 1rem 1rem 1rem;
        
       // margin: 5rem 0rem;
        
    }
    &--lg{
        width: 10rem;
        height: 10rem;
       
        box-shadow: .1rem .1rem 4rem rgba(#000,.2);
       
       // margin:1rem 1rem 1rem 1rem;
        
       margin: 5rem 0rem;
        
    }
}