/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0rem;
  overflow-x: hidden;
  width: 100vw;
  font-family: "open sans"; }

a {
  text-decoration: none; }

::selection {
  background-color: #f7f7f7;
  color: #f7f7f7; }

a {
  text-align: right;
  color: inherit; }

.error {
  text-align: center;
  color: rgba(255, 0, 0, 0.6); }

.text-logo {
  height: 2rem; }

/* width */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #FB20DE, #4C44BA); }

/* Handle on hover */
.loader {
  background: linear-gradient(#FB20DE, #4C44BA);
  -webkit-background-clip: text;
  font-weight: 900;
  color: transparent;
  display: block;
  font-size: 4rem;
  overflow: hidden;
  animation: rubberBand 2s infinite; }

.u-h-100 {
  height: 100%; }

.u-small-fonts {
  font-size: 1rem; }

.u-text-center {
  text-align: center; }

.u-text-left {
  text-align: left; }

.u-text-white {
  color: #fff; }

.u-text-black {
  color: #000; }

.u-margin-x-sm {
  margin: 0 1rem; }

.u-margin-y-sm {
  margin: 1rem 0; }

.u-margin-y-md {
  margin: 2rem 0; }

.u-margin-y-lg {
  margin: 4rem 0; }

.u-padding-sm {
  padding: 2rem; }

.u-display-block {
  display: block; }

.u-display-flex {
  display: flex; }
  .u-display-flex.u-justify-content-center {
    justify-content: center; }
  .u-display-flex.u-justify-content-start {
    justify-content: flex-start; }
  .u-display-flex.u-justify-content-end {
    justify-content: flex-end; }
  .u-display-flex.u-justify-content-space-evenly {
    justify-content: space-evenly; }
  .u-display-flex.u-justify-content-space-between {
    justify-content: space-between; }
  .u-display-flex.u-justify-content-space-around {
    justify-content: space-around; }
  .u-display-flex.u-align-items-center {
    align-items: center; }
  .u-display-flex.u-align-items-start {
    align-items: flex-start; }
  .u-display-flex.u-align-items-end {
    align-items: flex-end; }
  .u-display-flex.u-align-items-stretch {
    align-items: stretch; }
  .u-display-flex.u-align-items-baseline {
    align-items: baseline; }
  .u-display-flex.u-align-self-end {
    align-self: flex-end; }
  .u-display-flex.u-flex-column {
    flex-direction: column; }
  .u-display-flex > .flex-fill {
    flex: 1; }

.bluish-gradient {
  background: #8E2DE2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(74, 0, 224, 0.8), rgba(142, 45, 226, 0.8)), url("./img/cse.jpeg");
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(74, 0, 224, 0.8), rgba(142, 45, 226, 0.8)), url("./img/cse.jpeg") center center;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.redish-gradient {
  background: #8E2DE2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(74, 0, 224, 0.8), rgba(142, 45, 226, 0.8)), url("./img/cse.jpeg");
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(188, 78, 156, 0.8), rgba(248, 7, 89, 0.8)), url("./img/cse.jpeg") center center;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.greenish-gradient {
  background: #8E2DE2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(74, 0, 224, 0.8), rgba(142, 45, 226, 0.8)), url("./img/cse.jpeg");
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(0, 201, 255, 0.8), rgba(146, 254, 157, 0.8)), url("./img/cse.jpeg") center center;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.index-page {
  height: 100vh;
  overflow: hidden; }
  .index-page__left {
    transition: "all .2s";
    width: 55%; }
    .index-page__left .Tilt {
      width: 100%;
      height: 100%; }
    @media only screen and (max-width: 56.25em) {
      .index-page__left {
        display: none; } }
  .index-page__right {
    padding: 7rem 0; }
    @media only screen and (max-width: 56.25em) {
      .index-page__right {
        padding: 4rem;
        background: linear-gradient(rgba(247, 247, 247, 0.8), #f7f7f7), url("./img/homePageHero.webp") center center;
        background-size: cover; } }
  .index-page__content {
    padding: 0 5rem 0 0; }
    @media only screen and (max-width: 56.25em) {
      .index-page__content {
        padding: 0 2rem 0 0; } }
  .index-page__header {
    text-align: right;
    font-family: "open sans";
    margin: 1rem 0;
    font-size: 3.5rem;
    letter-spacing: .2rem;
    font-weight: 100;
    color: #FB20DE;
    text-shadow: 4px 5px 2rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 56.25em) {
      .index-page__header {
        font-size: 3rem; } }
  .index-page__btn {
    position: relative;
    z-index: 100;
    padding: 1.6rem;
    width: 25vw;
    margin: 2rem 0;
    font-family: "open sans";
    border: none;
    background: linear-gradient(#FB20DE, #4C44BA);
    color: #f7f7f7;
    font-size: 2rem;
    border-radius: 5px;
    box-shadow: none;
    transition: all .2s; }
    @media only screen and (max-width: 56.25em) {
      .index-page__btn {
        width: 50vw;
        font-size: 1.6rem; } }
    .index-page__btn:hover {
      transform: translateY(-0.5rem);
      box-shadow: 4px 5px 4rem rgba(0, 0, 0, 0.2); }

.icon-container {
  padding: 0 5rem 0 3rem; }
  @media only screen and (max-width: 56.25em) {
    .icon-container {
      padding: 0 1rem; } }

.dashboard {
  height: 100vh; }
  .dashboard__left {
    height: 100vh;
    width: 35%;
    background: url("./img/image-assets/bg-purple-pattern.svg") center center;
    background-size: cover; }
    @media only screen and (max-width: 56.25em) {
      .dashboard__left {
        width: 100%; } }
  .dashboard__right {
    width: 65%;
    background: url("./img/image-assets/none-selected.svg") center center;
    background-size: 100% 100%; }
    @media only screen and (max-width: 56.25em) {
      .dashboard__right {
        width: 0%; } }
  .dashboard__sidenav {
    width: 30%; }
    .dashboard__sidenav ul {
      border-top: 1px solid rgba(251, 32, 222, 0.8); }
    .dashboard__sidenav li {
      padding: 2rem;
      font-size: 1.6rem;
      text-align: left;
      width: 100%;
      border-bottom: 1px solid rgba(251, 32, 222, 0.8);
      background: linear-gradient(90deg, #FB20DE, #4C44BA 50%, transparent 50%);
      background-size: 200%;
      background-position: right;
      transition: all .2s;
      cursor: pointer; }
      .dashboard__sidenav li:hover {
        background-position: left;
        color: #f7f7f7; }
  .dashboard__header {
    text-align: left;
    padding: 1rem;
    color: #FB20DE; }
  .dashboard__list {
    width: 70%;
    padding: 1rem 1rem 0 1rem; }

.empty {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FB20DE;
  font-size: 1.6rem;
  cursor: pointer; }

.profile-pic--lg {
  width: 10rem;
  height: 10rem;
  margin: 5rem 0rem; }

.chat-container {
  height: 100vh;
  background: #f7f7f7; }

.chat-header {
  height: 12vh;
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  background: #fff; }
  .chat-header__name {
    flex: 1;
    color: #FB20DE;
    text-transform: capitalize;
    text-align: left;
    font-size: 2rem;
    padding: 0 2rem; }
    .chat-header__name p {
      font-size: 1rem; }
  .chat-header__options i {
    color: #e38cff;
    font-size: 1.6rem;
    padding: 1rem 1rem;
    margin: 0 .5rem;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.message-container {
  height: 76vh;
  background: rgba(227, 140, 255, 0.1);
  padding: 1rem;
  text-align: left;
  overflow-y: scroll; }
  .message-container .markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto; }
  .message-container__message-content {
    background: #fff;
    width: fit-content;
    margin: 1rem 0;
    width: auto;
    height: auto;
    max-width: 30vw;
    padding: 1rem;
    color: white;
    border-radius: .5rem;
    font-size: 1.6rem;
    animation: fadeIn .5s; }
  .message-container__message--img {
    max-height: 100%; }
  .message-container__message-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .message-container .right.message-container__message-box {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-end; }
  .right .message-container__message-content {
    background: #fff; }
  .message-container__time {
    font-size: 1rem;
    margin: 0 1rem;
    color: #191919; }
    .message-container__time span {
      margin: 0 0 0 1rem; }

.message-input {
  height: 12vh;
  width: 100%;
  display: flex; }
  .message-input__textarea {
    display: block;
    height: 100%;
    border: none;
    width: 90%;
    outline: none;
    padding: 1rem; }
  .message-input__btn {
    border: none;
    display: block;
    height: 100%;
    width: 12%;
    background: linear-gradient(#e38cff, #4C44BA);
    outline: none; }
    .message-input__btn i {
      color: #fff;
      font-size: 2rem; }

.list {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .list__search {
    display: block;
    width: 100%;
    border: none;
    padding: 1rem;
    box-shadow: 5px 10px 2rem rgba(0, 0, 0, 0.2); }
  .list__content {
    flex: 1;
    margin-top: .5rem;
    overflow-y: auto;
    overflow-x: hidden; }
    .list__content li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      display: block; }

.non-registered-user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: rgba(247, 247, 247, 0.8);
  padding: 4rem; }
  .non-registered-user__message {
    font-weight: 900;
    font-size: 4rem;
    background: linear-gradient(#FB20DE, #4C44BA);
    -webkit-background-clip: text;
    color: transparent; }
  .non-registered-user__invite-btn {
    position: relative;
    z-index: 100;
    padding: 1.6rem;
    width: 25vw;
    margin: 2rem 0;
    font-family: "open sans";
    border: none;
    background: linear-gradient(#FB20DE, #4C44BA);
    color: #f7f7f7;
    font-size: 2rem;
    border-radius: 5px;
    box-shadow: none;
    transition: all .2s; }
    @media only screen and (max-width: 56.25em) {
      .non-registered-user__invite-btn {
        width: 50vw;
        font-size: 1.6rem; } }
    .non-registered-user__invite-btn:hover {
      transform: translateY(-0.5rem);
      box-shadow: 4px 5px 4rem rgba(251, 32, 222, 0.2); }

.user-card {
  padding: 1.6rem 1rem;
  background: rgba(255, 255, 255, 0.95);
  margin: 0rem;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .2s; }
  .user-card:hover {
    padding: 2.6rem 0;
    background: white;
    box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 99; }
  .user-card__image {
    height: 100%; }
    .user-card__image img {
      height: 5rem;
      width: 5rem;
      padding: .5rem;
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
      border-radius: 50%; }
  .user-card__details {
    padding-left: 1rem; }
    .user-card__details h3 {
      font-size: 1.6rem;
      padding: .5rem 0;
      font-weight: 100;
      color: #FB20DE; }
  .user-card__online {
    width: 1.2rem;
    height: 1.2rem;
    margin: .5rem;
    border-radius: 50%;
    background: #00ff00; }
  .user-card__unseen-message {
    width: 1.2rem;
    height: 1.2rem;
    margin: .5rem;
    border-radius: 50%;
    background: #FB20DE; }
  .user-card__msg {
    width: 1.2rem;
    height: 1.2rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 50%;
    background: rgba(255, 0, 0, 0.9); }

.user-profile {
  height: 100vh;
  background: url("./img/dashboard-user-bg.png") center center;
  background-size: 100% 100%; }
  .user-profile__project-cards__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem; }
  .user-profile__social {
    padding: 5rem; }
  .user-profile__social__cards {
    padding: 1rem 3rem;
    background: linear-gradient(#FB20DE, #4C44BA);
    color: #fff;
    border-radius: 1rem;
    font-size: 1.6rem; }
  .user-profile__details {
    padding: 0 0 2rem 0; }
    .user-profile__details h2 {
      font-size: 2rem;
      text-transform: uppercase; }
    .user-profile__details p {
      padding: 1rem;
      font-size: 1.6rem; }
  .user-profile__left {
    padding: 2rem;
    width: 25%; }
  .user-profile__right {
    overflow: auto; }
  .user-profile__btns {
    padding: 2rem 0; }

.btn__green {
  background: linear-gradient(#05F34B, #3DBA62);
  border: none;
  width: 90%;
  color: #f7f7f7;
  padding: .8rem;
  margin: 1rem 0; }

.btn__purple {
  background: linear-gradient(#FB20DE, #4C44BA);
  border: none;
  width: 90%;
  color: #f7f7f7;
  padding: .8rem;
  margin: 1rem 0; }

.project-card {
  padding: 1rem 2.2rem;
  margin: 1rem 1rem 1rem 1rem;
  box-shadow: 0.1rem 0.1rem 4rem rgba(0, 0, 0, 0.2); }
  .project-card__content {
    text-align: left;
    color: #fff; }
  .project-card__heading {
    margin-top: 1rem;
    font-size: 2rem; }
  .project-card__language {
    font-size: 1.4rem;
    margin: 1rem 0; }
  .project-card__points {
    display: flex; }
    .project-card__points__card {
      background: #fff;
      box-shadow: 0.1rem 0.1rem 4rem rgba(0, 0, 0, 0.2);
      padding: 1rem 2rem;
      margin: 1rem .5rem; }
      .project-card__points__card:first-child {
        margin-left: 0; }

.drop-icon {
  height: 100px; }

.drop__green:hover {
  margin: 2rem; }

.drop__pink:hover {
  margin: 2rem; }
